@use "../../palette.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  min-width: 126px;
  font-weight: 700;
  background-color: palette.$primary-color;
  border: none;
  border-radius: 6px;
  font-family: "IranSans";
  color: palette.$white;
  cursor: pointer;

  svg {
    margin-left: 0.8rem;
  }
}

.button--outlined {
  border: 1px solid palette.$primary-color;
  background-color: transparent;
  color: palette.$primary-color;
}

.button--simple {
  border: none;
  background-color: transparent;
  color: palette.$primary-color;
}
