$primary-color: #27ae60;

$secondary-more-light: #9caebb;
$secondary-lightest: #f7f8f9;

$gray-darker: #454545;
$gray-dark: #777777;
$gray-default: #aaaaaa;
$gray-light: #eeeeee;
$gray-lightest: #f9f9f9;

$black: #222222;

$white: white;

$success: #66cb9f;
$error: #f16063;
